<div class="container">
  <form [formGroup]="myForm" class="mb-3">
  <select class="form-select my-5" aria-label="Default select example" formControlName="inventario">
    <option selected *ngFor="let inventario of inventarioService.inventario; let i = index" [value]="i">Inventario {{i}}</option>
  </select>
</form>
  <div class="row">
    <div class="col-6">
      <app-producto></app-producto>
    </div>  
    <div class="col-6">
      <app-img></app-img>
    </div>
  </div>

  <div class="row">
    <div class="col-3  offset-9  d-grid gap-2" >
      <button type="button" class="btn btn-warning" (click)="agregarinv()">Nuevo Inventario</button>
    </div>
  </div>


</div>