<table class="table container">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inv of inventario">
            <td>{{inv.producto.nombre}}</td>
                <td>
                    <button (click)="acumular()"> -{{valor}}</button>
                    <span>  {{valor}}  </span>
                    <button (click)="acumular()"> + {{valor}}</button>
            </td>
        </tr>
</tbody>
</table>
